<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default('Pictures') }}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/webelopalbum/images/favicon.png') }}">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="EasyAdmin" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/webelopalbum/admin.css') }}">
        {% endblock %}
    </head>
    <body data-auto-play-speed="{{ autoPlaySpeed|default(5000) }}">
        <div class="container-fluid">
            <h1>{{ title|default('Pictures') }}</h1>
            <div class="row">
                <div class="col-md-3">
                {% block sidebar %}
                    {{ render(controller('webelop_album.controller.admin_controller:sidebar', {path: app.request.attributes.get('path')})) }}
                {%  endblock %}
                </div>
                <div class="col-md-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {{ include('@WebelopAlbum/album/_slideshow.html.twig', {tags: tags|default([])}) }}

        {% block javascripts %}
            <script src="{{ asset('bundles/webelopalbum/admin.js') }}"></script>
        {% endblock %}

    </body>
</html>