<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default('Pictures') }}</title>
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.png') }}">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body data-auto-play-speed="{{ autoPlaySpeed|default(5000) }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title|default('Pictures') }}</h1>

                    {% block body %}
                    {% endblock %}

                </div>
            </div>
        </div>

        {{ include('@Album/album/_slideshow.html.twig', {tags: []}) }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>